<div id="<%= dom_id cracker_binary %>">
  <p>
    <strong>Version:</strong>
    <%= cracker_binary.version %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= cracker_binary.active %>
  </p>

  <p>
    <strong>Cracker:</strong>
    <%= cracker_binary.cracker_id %>
  </p>

</div>
