<h1>Editing cracker binary</h1>

<%= render "form", cracker_binary: @cracker_binary %>

<br>

<div>
  <%= link_to "Show this cracker binary", @cracker_binary %> |
  <%= link_to "Back to cracker binaries", cracker_binaries_path %>
</div>
