<h1><%= title "Edit #{@rule_list.name}" %></h1>

<%= render "form", rule_list: @rule_list %>

<div class="btn-group">
  <%= link_to "Show this rule list", @rule_list, class: "btn btn-outline-secondary" %>
  <%= link_to "Back to rule lists", rule_lists_path, class: "btn btn-outline-secondary" %>
</div>
