<h1>Editing rule list</h1>

<%= render "form", rule_list: @rule_list %>

<br>

<div>
  <%= link_to "Show this rule list", @rule_list %> |
  <%= link_to "Back to rule lists", rule_lists_path %>
</div>
