# CipherSwarm Example Environment Variables

# --- Security ---
SECRET_KEY=k5moVLqLGy82D4FE54VvkkqAyxe6XF6k
ACCESS_TOKEN_EXPIRE_MINUTES=60

# --- Database ---
POSTGRES_SERVER=localhost
POSTGRES_USER=cipherswarm
POSTGRES_PASSWORD=cipherswarm
POSTGRES_DB=cipherswarm

# --- Users ---
FIRST_SUPERUSER=admin@cipherswarm.org
FIRST_SUPERUSER_PASSWORD=cipherswarm

# --- Redis ---
REDIS_HOST=localhost
REDIS_PORT=6379

# --- Celery ---
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# --- Hashcat ---
HASHCAT_BINARY_PATH=hashcat
DEFAULT_WORKLOAD_PROFILE=3
ENABLE_ADDITIONAL_HASH_TYPES=False

# --- Logging ---
LOG_LEVEL=INFO
LOG_TO_FILE=False
LOG_FILE_PATH=logs/app.log
LOG_RETENTION="10 days"
LOG_ROTATION="10 MB"

# --- CORS ---
# BACKEND_CORS_ORIGINS=["http://localhost","http://localhost:8080"] 