<h1>Editing hash list</h1>

<%= render "form", hash_list: @hash_list %>

<br>

<div>
  <%= link_to "Show this hash list", @hash_list %> |
  <%= link_to "Back to hash lists", hash_lists_path %>
</div>
