<ul class="navbar-nav <%= @extra_classes.presence %>">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <% if @icon.present? %>
        <%= helpers.icon(@icon) %>
      <% end %>
      <%= @title %>
    </a>
    <ul class="dropdown-menu">
      <%= content %>
    </ul>
  </li>
</ul>
