<ul class="navbar-nav justify-content-lg-end me-3">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <%= @title %>
    </a>
    <ul class="dropdown-menu">
      <%= content %>
    </ul>
  </li>
</ul>
