<p style="color: green"><%= notice %></p>

<h1>Crackers</h1>
<table class="table">
  <thead>
  <tr>
    <th>Cracker</th>
  </tr>
  </thead>
  <tbody>
  <% @crackers.each do |c| %>
    <tr>
      <td><%= link_to c.name, c %></td>

    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New cracker", new_cracker_path %>
