<div id="<%= dom_id task %>">
  <p>
    <strong>Attack:</strong>
    <%= task.attack_id %>
  </p>

  <p>
    <strong>Agent:</strong>
    <%= task.agent_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= task.start_date %>
  </p>

</div>
