<h1>Editing attack</h1>

<%= render "form", attack: @attack %>

<br>

<div>
  <%= link_to "Show this attack", @attack %> |
  <%= link_to "Back to the campaign", campaign_path(@attack.campaign) %>
</div>
