<div class="mb-4">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Charset Preview (?1)</label>
    <input type="text" readonly class="form-input w-full bg-gray-100 dark:bg-gray-700" value="{{ custom_charset }}">
</div>
<div class="mb-4">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Generated Mask</label>
    <input type="text" readonly class="form-input w-full bg-gray-100 dark:bg-gray-700" value="{{ mask }}">
</div>