<%= turbo_frame_tag "agents-cards" do %>
  <% if agents.empty? %>
    <div class="text-center">
      <div><%= icon("robot") %></div>
      <h3>No Agents Found</h3>
      <p class="small text-secondary mt-3">Create your first agent to start cracking hashes</p>
      <% if can? :create, Agent %>
        <div class="mt-4">
          <%= link_to "New Agent", new_agent_path, class: "btn btn-primary", data: { turbo_frame: "_top" } %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="row g-4">
      <% agents.each do |agent| %>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <%= render AgentStatusCardComponent.new(agent: agent), cache: agent %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
