<h1>Editing agent</h1>

<%= render "form", agent: @agent %>

<br>

<div class="btn-group btn-group-sm">
  <%= link_to "Show this agent", @agent, class: "btn btn-outline-secondary" %> |
  <%= link_to "Back to agents", agents_path, class: "btn btn-outline-secondary" %>
</div>
