<% # locals: (attack:) -%>

<div class="btn-group btn-group-sm" aria-role="group" aria-label="Modify priority">
  <%= button_to attack_increase_position_path(attack), class: "btn btn-sm" do %>
    <%= icon("arrow-up") %>
  <% end %>
  <%= button_to attack_decrease_position_path(attack), class: "btn btn-sm" do %>
    <%= icon("arrow-down") %>
  <% end %>
</div>
