<h1><%= title "Edit #{@campaign.name}" %></h1>

<%= render "form", campaign: @campaign %>


<div class="btn-group">
  <%= link_to "Show this campaign", @campaign, class: "btn btn-primary" %>
  <%= link_to "Back to campaigns", campaigns_path, class: "btn btn-secondary" %>
</div>
