<h1><%= title "Activity" %></h1>
<div class="btn-group btn-group-sm">
  <% if can? :create, Campaign %>
    <%= link_to new_campaign_path, class: "btn btn-primary" do %>
      <%= icon("plus-circle-fill") %>
      New Campaign
    <% end %>
  <% end %>
</div>
<table class="table table-striped table-responsive">
  <thead>
  <tr>
    <th>Name</th>
    <th>Project</th>
    <th>Hash List</th>
    <th>Hashes</th>
    <th>Attacks</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @campaigns.each do |campaign| %>
    <%= render campaign %>
  <% end %>
  </tbody>
</table>
