<p style="color: green"><%= notice %></p>
<% content_for :title, "Activity" %>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Project</th>
    <th>Hash List</th>
    <th>Hashes Remaining</th>
    <th>Attacks</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @campaigns.each do |campaign| %>
    <%= render campaign %>
  <% end %>
  </tbody>
</table>

<%= link_to "New campaign", new_campaign_path %>
